@use "base/variables" as v;
@use "base/mixins" as m;

.paginacion {
    padding-top: 4rem;
    gap: 1rem;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }
    button {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.ocultar {
    visibility: hidden;
}